@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  -webkit-user-select:none;
 -moz-user-select:none;
 -o-user-select:none;
 -user-select:none;
 scroll-behavior: smooth;
}
.full-section{
  height: 100vh;
  width: 100%;
  background: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
	background-image: url(bg.png);
  padding: 40px 0px;
}
.wrapper .button{
  display: inline-block;
  height: 60px;
  width: 60px;
  float: left;
  margin: 0 30px;
  overflow: hidden;
  background: #fff;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  transition: all 0.3s ease-out;
}
.wrapper .button:hover{
  width: 200px;
}
.wrapper .button .icon{
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1):hover .icon{
  background: #4267B2;
}
.wrapper .button:nth-child(2):hover .icon{
  background: #1DA1F2;
}
.wrapper .button:nth-child(3):hover .icon{
  background: #E1306C;
}
.wrapper .button:nth-child(4):hover .icon{
  background: #333;
}
.wrapper .button:nth-child(5):hover .icon{
  background: #ff0000;
}
.wrapper .button:nth-child(6):hover .icon{
  background: #17d726;
}
.wrapper .button:nth-child(7):hover .icon{
  background: #e10dda;
}
.wrapper .button:nth-child(8):hover .icon{
  background: #f5d700;
}




.wrapper .button .icon i{
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.wrapper .button:hover .icon i{
  color: #fff;
}
.wrapper .button span{
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1) span{
  color: #4267B2;
}
.wrapper .button:nth-child(2) span{
  color: #1DA1F2;
}
.wrapper .button:nth-child(3) span{
  color: #E1306C;
}
.wrapper .button:nth-child(4) span{
  color: #333;
}
.wrapper .button:nth-child(5) span{
  color: #ff0000;
}
.wrapper .button:nth-child(6) span{
  color: #17d726;
}
.wrapper .button:nth-child(7) span{
  color: #e10dda;;
}
.wrapper .button:nth-child(7) span{
  color: #e10dda;;
}
.wrapper .button:nth-child(8) span{
  color: #f5d700;
}

/*.button a{
	text-decoration: none;
}
.icon i{
	color: black;
}*/






.container{
  width: 1140px;
  margin: 0px auto;
  display: flex;
  justify-content: center;
}
.myimg{
  text-align: center;
}
.myimg img{
  border-radius: 100%;
  border: 2px solid white;
  text-align: center;
  height: 150px;
  margin-bottom: 20px;
}


.mr{
  height: 45px;
  line-height: 45px;
}
.car{
  height: 190px;

}
.car img{
  width: 70px;
  margin-top: 10px;
}





/*******************2nd Part**************/







.wrapper1 .button{
  display: inline-block;
  height: 60px;
  width: 60px;
  float: left;
  margin: 0 30px;
  overflow: hidden;
  background: #fff;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  transition: all 0.3s ease-out;
  color: white;
}
.wrapper1 .button:hover{
  width: 200px;
}
.wrapper1 .button .icon{
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3s ease-out;
  color: white!important;
}
.wrapper1 .button:nth-child(1):hover .icon{
  background: #79018C;
}
.wrapper1 .button:nth-child(2):hover .icon{
  background: #1DA1F2;
}
.wrapper1 .button:nth-child(3):hover .icon{
  background: #E1306C;
}
.wrapper1 .button:nth-child(4):hover .icon{
  background: #333;
}
.wrapper1 .button:nth-child(5):hover .icon{
  background: #ff0000;
}
.wrapper1 .button:nth-child(6):hover .icon{
  background: #17d726;
}
.wrapper1 .button:nth-child(7):hover .icon{
  background: #e10dda;
}
.wrapper1 .button:nth-child(8):hover .icon{
  background: #f5d700;
}




.wrapper1 .button .icon i{
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.wrapper1 .button:hover .icon i{
  color: #fff;
}
.wrapper1 .button span{
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
  transition: all 0.3s ease-out;
}
.wrapper1 .button:nth-child(1) span{
  color: #79018C;
}
.wrapper1 .button:nth-child(2) span{
 /* color: #1DA1F2;*/
}
.wrapper1 .button:nth-child(3) span{
  /*color: #E1306C;*/
}
.wrapper1 .button:nth-child(4) span{
  /*color: #333;*/
}
.wrapper1 .button:nth-child(5) span{
  /*color: #ff0000;*/
}
.wrapper1 .button:nth-child(6) span{
  /*color: #17d726;*/
}
.wrapper1 .button:nth-child(7) span{
 /* color: #e10dda;*/
}
.wrapper1 .button:nth-child(7) span{
 /* color: #e10dda;*/
}
.wrapper1 .button:nth-child(8) span{
  /*color: #f5d700;*/
}

.button a{
  text-decoration: none;
}
.wrapper .icon i{
  color: black;
}
.wrapper1 .icon i{
  color: black;
}