@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
	/*
		font-family: 'Alfa Slab One', cursive;
		font-family: 'Bebas Neue', cursive;
		font-family: 'Montserrat', sans-serif;
	*/
header{
	padding: 30px;
	width: 100%;
	position: absolute;
}
.container{
	width: 1140px;
	margin: 0px auto;
}
.navbar{
	display: flex;
	justify-content: space-between;
}
.bottom ul li{
	display: inline-block;
    list-style: none;
    margin-left: 30px;
    letter-spacing: 3px;
}
.bottom ul li a{
	text-decoration: none;
	font-size: 20px;
	font-family: 'Bebas Neue', cursive;
	color: #3d2514;
}
.top img{
	vertical-align: middle;
}
.top span{
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #3d2514;
}
.menu{
	text-align: right;
}

.bottom ul{
	margin-top: 20px;
	text-align: right;
}





.head-body{
	padding: 10px 0px;
	width: 100%;
	background-image: url("../image/bg1.png");
	height: 100vh;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.bodyfix{
	display: flex;

}
.left, .right{
	flex-basis: 50% ;
}
.right img{
	width: 100%;
	height: auto;
}
.left span{
	text-transform: uppercase;
    font-size: 23px;
    font-family: 'Bebas Neue', cursive;
    color: #3d2514;
    font-weight: 100;
    border: 1.5px dashed #3d2514;
    padding: 4px 9px;
}
.left h2{
	margin-top: 40px;
    text-transform: uppercase;
    font-size: 114px;
    font-family: 'Alfa Slab One', cursive;
    color: #3d2514;
    font-weight: 100;
    text-shadow: 2px 5px #f1ebeb;
    line-height: 100px;

}
.left .week{
	text-transform: uppercase;
	font-size: 56px;
	font-family: 'Alfa Slab One', cursive;
	color: #3d2514;
	letter-spacing: 2px;
	text-shadow: 1px 3px #f1ebeb;
}
.left{
	margin-top: 230px;
}





.gallery1{
	width: 100%;
	padding: 70px;
}
.g-fix{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-column-gap: 27px;
	justify-content: center;
}
.g-fix img{
	width: 100%;
	height: auto;
}
.g-row{
	display: grid;
    grid-template-rows: auto auto;
    grid-row-gap: 26px;
    margin: auto;
}




.order{
	width: 100%;
	padding: 40px 0px;
}
.o-box{
	text-align: center;
}
.o-fix{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	margin-top: 70px;
}
.o-fix img{
	width: 100%;
	height: auto;
}
.o-box h3{
	text-transform: uppercase;
    font-size: 37px;
    font-family: 'Bebas Neue', cursive;
    color: #3d2514;
    font-weight: bold;
    margin: 15px 0px;
}
.o-box p{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    color: #3d2514;
    margin: 0px 10px;
    line-height: 22px;
}

.o1{
	text-decoration: none;
	font-family: 'Alfa Slab One', cursive;
	font-size: 16px;
	color: #bf2222;
	padding: 10px 26px;
	cursor: pointer;
	border: 2px solid #bf2222;
	margin: 10px 0px;
	line-height: 100px;
	transition: all 0.3s ease-in-out;
	position: relative;
	z-index: 1;
}
.o1::before{
	content: "";
	position: absolute;
	height: 100%;
	width: 0%;
	background-color: #FF1700;
	top: 0;
	left: 0;
	transition: all 0.3s ease-in-out;
	
}

.o1:hover::before{
	width: 100%;
	border-radius: 50px 0px 50px 0px;
	transition: all 0.3s ease-in-out;
	z-index: -1;
	
}
.o1:hover{
	color: white;
	transition: all 0.3s ease-in-out;
	
}


.o2{
	text-decoration: none;
	font-family: 'Alfa Slab One', cursive;
	font-size: 16px;
	color: #bf2222;
	padding: 10px 26px;
	cursor: pointer;
	border: 2px solid #bf2222;
	margin: 10px 0px;
	line-height: 100px;
	transition: all 0.3s ease-in-out;
	position: relative;
	z-index: 1;
}
.o2::before{
	content: "";
	position: absolute;
	height: 100%;
	width: 0%;
	background-color: #FF1700;
	top: 0;
	left: 0;
	transition: all 0.3s ease-in-out;
	
}

.o2:hover::before{
	width: 100%;
	border-radius: 50px 0px 50px 0px;
	transition: all 0.3s ease-in-out;
	z-index: -1;
	
}
.o2:hover{
	color: white;
	transition: all 0.3s ease-in-out;
	
}



.o3{
	text-decoration: none;
	font-family: 'Alfa Slab One', cursive;
	font-size: 16px;
	color: #bf2222;
	padding: 10px 26px;
	cursor: pointer;
	border: 2px solid #bf2222;
	margin: 10px 0px;
	line-height: 100px;
	transition: all 0.3s ease-in-out;
	position: relative;
	z-index: 1;
}
.o3::before{
	content: "";
	position: absolute;
	height: 0%;
	background-color: #FF1700;
	right: 0;
	bottom: 0;
	left: 0;
	transition: all 0.3s ease-in-out;
	
}

.o3:hover::before{
	height: 100%;
	border-radius: 60px 0px 60px 0px;
	transition: all 0.3s ease-in-out;
	z-index: -1;
	
}
.o3:hover{
	color: white;
	transition: all 0.3s ease-in-out;
	
}


.scroll i{
	text-align: right;
}














.detail{
	text-align: center;
}
.detail h4{
	text-transform: uppercase;
    font-size: 24px;
    font-family: 'Bebas Neue', cursive;
    color: #714e21;
    font-weight: bold;
    margin: 15px 550px;
    background-color: #ffc045;
    padding: 5px 0px;
}
.detail h2{
	text-transform: uppercase;
	font-size: 48px;
	font-family: 'Alfa Slab One', cursive;
	color: #3d2514;
	margin: 10px 0px;
}
.detail p{
	font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: #7e6e62;
    margin: 0px 85px;
    line-height: 22px;
}


.event{
	width: 100%;
	padding: 70px 0px;
}
.slide-box{
	padding: 16px 16px 14px 18px;
  box-shadow: 5px 5px 10px rgb(0 0 0 / 20%);
}

.e-fix{
	display: flex;
}
.e-left, .e-right{
	flex-basis: 50%;
}
.e-right img{
	width: 100%;
	height: auto;
}
.e-left h4{
	text-transform: uppercase;
    font-size: 24px;
    font-family: 'Bebas Neue', cursive;
    color: #714e21;
    font-weight: bold;
}
.e-left h2{
	text-transform: uppercase;
	font-size: 32px;
	font-family: 'Alfa Slab One', cursive;
	color: #3d2514;
	font-weight: 100;
	margin-top: 3px;
}
.e-left p{
	color: #3d3d3d;
	font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 22px;
    line-height: 25px;
}





.booking{
	width: 100%;
	height: 100vh;
	padding: 40px 0px;
}
.b-fix{
	display: grid;
	grid-template-columns: 250px 750px auto;
}
.b-fix img{
	width: 100%;
	height: auto;
}
.b-table{
	text-align: center;

}
.b-table h4{
	text-transform: uppercase;
    font-size: 24px;
    font-family: 'Bebas Neue', cursive;
    color: #3d2514;
    letter-spacing: 2px;
}
.b-table h2{
	text-transform: uppercase;
	font-size: 50px;
	font-family: 'Alfa Slab One', cursive;
	color: #3d2514;
	font-weight: 100;
}

#timepicker:before {
	content:'Time:';
	margin-right:.6em;
	text-transform: uppercase;
    font-size: 16px;
    font-family: 'Bebas Neue', cursive;
    color: #939393;
}

#datepicker:before {
	content:'Date:';
	margin-right:.6em;
	text-transform: uppercase;
    font-size: 16px;
    font-family: 'Bebas Neue', cursive;
    color: #939393;
}

.ne{
	display: flex;
	justify-content: space-around;
	margin: 40px 0px;
}
.td{
	display: flex;
	justify-content: space-around;
}
.bb{
	display: flex;
	justify-content: space-around;
	margin: 40px 0px;
}
input[type=text]{
	padding: 10px 174px 10px 10px;
    border: 1px solid #bebebe;
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'Bebas Neue', cursive;
    color: #green;
    border-radius: 4px;

}
input[type=email]{
	padding: 10px 182px 10px 10px;
    border: 1px solid #bebebe;
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'Bebas Neue', cursive;
    color: #939393;
    border-radius: 4px;

}
input[type=date]{
    padding: 10px 140px 10px 10px;
    border: 1px solid #bebebe;
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'Bebas Neue', cursive;
    color: #939393;
    border-radius: 4px;
}
input[type=time]{
    padding: 10px 202px 10px 10px;
    border: 1px solid #bebebe;
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'Bebas Neue', cursive;
    color: #939393;
    border-radius: 4px;
}

form{
	margin: 60px 0px;
}
select{
	padding: 10px 218px 10px 6px;
    border: 1px solid #bebebe;
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'Bebas Neue', cursive;
    color: #939393;
    border-radius: 4px;
}
.btn{
	border: none;
}
.btn a{
	text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'Alfa Slab One', cursive;
    color: #ffffff;
    background-color: #bf2222;
    padding: 10px 83px 10px 82px;
    border: none;
    border-radius: 5px;
    letter-spacing: 1px;
}
input:focus {
  outline: none;
}


footer{
	width: 100%;
	padding-bottom: 50px ;
}
.container1{
	width: 1200px;
	margin: 0px auto;
}
.f-fix{
	display: flex;
	justify-content: space-between;
}
.f-left, .f-right{
	flex-basis: 50%;
}
.f-left{
	margin: 50px 0px 0px 50px;
}
.f-left p{
	font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    color: #bdbbba;
    margin-right: 85px;
    line-height: 26px;
    margin-top: 60px;
}

.f-right i{
	font-size: 24px;
	color: white;
}
.f-right{
	text-align: left;
	padding-left: 200px;
}
.f-right a{
	text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'Bebas Neue', cursive;
    color: white;
    letter-spacing: 1px;
    margin-left: 15px;
}
.f-right span{
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'Bebas Neue', cursive;
    color: white;
    letter-spacing: 1px;
    margin-left: 15px;
}





.si ul {
  display: flex;
  float: right;
  transform: translate(-50%, -50%);
  margin-top: 170px;
    margin-left: 142px;
}

.si ul li {
  list-style: none;
}

.si ul li a {
  	width: 40px;
    height: 40px;
    background-color: #fff;
    text-align: center;
    line-height: 30px;
    font-size: 35px;
    margin: 0 10px;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 3px solid #fff;
    z-index: 1;
}

.si ul li a .icon {
  position: relative;
  color: #262626;
  transition: .5s;
  z-index: 3;
  font-size: 20px;
}

.si ul li a:hover .icon {
  color: #fff;
  transform: rotateY(360deg);
  font-size: 20px;
}

.si ul li a:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: .5s;
  z-index: 2;
}

.si ul li a:hover:before {
  top: 0;
}

.si ul li:nth-child(1) a:before{
  background: #3b5999;
}

.si ul li:nth-child(2) a:before{
  background: #55acee;
}

.si ul li:nth-child(3) a:before {
  background: #0077b5;
}

.si ul li:nth-child(4) a:before {
  background: #25D366;
}





.owl-theme .owl-nav {
    display: none;
    margin-top: 10px;
}
.owl-theme .owl-dots{
	  position: absolute;
    bottom: 15px;
    left: 10px;
}












